<%- include('../partials/header') -%>
    <ul>
        <h3><%= skill.skill %></h3>
        <h3>Skill level rank: <%= skill.level ? 'Proficeint' : 'Mediocre' %></h3>
    </ul>
    <%- include('../partials/footer') -%>