<%- include('./partials/header') -%>
<img class="Intro" src=" https://i.imgur.com/VOHBaTY.png"> 
   
  <center><a href ='/skills'>Mandos Dev-Skills</a>
    <p>Welcome to <%= title %> Ⓒ 2022</p>
  </center>
  <%- include('./partials/footer') -%>